[Desktop Entry]
Encoding=UTF-8
Name=Ctp Core
Comment=Ctp P2P Cryptocurrency
Comment[de]=Verbinde mit dem Ctp peer-to-peer Netzwerk
Comment[fr]=Ctp, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ctp, eşten eşe kriptografik sanal para birimi
Exec=ctp-qt %u
Terminal=false
Type=Application
Icon=ctp128
MimeType=x-scheme-handler/ctp;
Categories=Office;Finance;
