[Unit]
Description=Ctp's distributed currency daemon
After=network.target

[Service]
User=ctpcore
Group=ctpcore

Type=forking
PIDFile=/var/lib/ctpd/ctpd.pid
ExecStart=/usr/bin/ctpd -daemon -pid=/var/lib/ctpd/ctpd.pid \
-conf=/etc/ctpcore/ctp.conf -datadir=/var/lib/ctpd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
